
<section class="w-full min-h-screen min-w-full bg-black">
  <div class="flex flex-col items-center">
    <h1 class="absolute top-8 text-animation text-white text-2xl z-99 mb-8 font-mono opacity-50"> coming soon</h1>
  </div>
<!--    <video autoplay loop [muted]="'muted'" class="max-md:hidden anima-logo">-->
<!--      <source src="assets/images/anamyLogo_transparent.mp4" type="gif">-->
<!--    </video>-->

  <!--    <video autoplay loop [muted]="'muted'" class="md:hidden">-->
  <!--      <source src="assets/images/mobile_1.mp4" type="">-->
  <!--    </video>-->


  <img src="assets/images/anamy.gif" alt="" class="anima-logo">
<!--  <img src="assets/images/anamyLogo_white.gif" alt="">-->



</section>



