<!--Logo full screen coming soon-->
<section class="flex flex-col h-screen justify-center items-center bg-black">
  <img src="assets/images/anamy.gif" alt="" class="anima-logo">

  <div class=" absolute bottom-1/4">
    <h1 class=" text-white text-center mb-3.5"> coming soon </h1>
    <hr class="mb-3">
    <div class=" text-white icons flex flex-row icons">
      <div class="px-3.5 cursor-pointer icon">instragram</div>
      <div class="px-3.5 cursor-pointer icon">soundcloud</div>
      <div class="px-3.5 cursor-pointer icon">youtube</div>
    </div>
  </div>
</section>



